.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    0deg,
    rgba(159, 202, 245, 1) 0%,
    rgba(207, 230, 252, 1) 16%,
    rgba(255, 255, 255, 1) 49%,
    rgba(155, 200, 245, 1) 84%,
    rgba(87, 162, 238, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}

.img {
  margin-top: -5vw;
  width: 40vw;
}

.h1 {
  position: fixed;
  font-size: 3.5vw;
  left: 28vw;
  top: 15vw;
  color: #1c71da;
  text-shadow: 1px 2px 2px #081438ed;
  transform: rotate(-58deg);
}

.messages h2 {
  position: fixed;
  font-size: 3vw;
  color: #ff5d5d;
  text-shadow: 1px 2px 2px #081438ed;
  bottom: 1vw;
  left: 30vw;
}

.home {
  position: fixed;
  top: 11vw;
  font-size: 2.5vw;
  color: #ffc504;
  text-shadow: 1px 2px 2px #081438ed;
  transform: rotate(58deg);
  right: 33vw;
}

.home:hover {
  color: #081438ed;
}
